
// main color   
$color-brown-light: #BA8554
$color-brown-dark: #A14F03
// text color
$color-grey:#777
$color-black: #000
$color-white: #fff
$color-gray-light:#f7f7f7
// shadow 
// shadow button
$box-shadow-dark: (0rem .25rem .25rem rgba(0, 0, 0, 0.5))
$box-shadow-light: (0rem .25rem .25rem rgba(0, 0, 0, 0.1))
// shadow title
$title-h2-shadow: (0rem 0.4rem 0.4rem rgba($color-black, 0.25))
// margin
$margin-vertical-big: 5rem
$grid-width: 71.25rem
$gutter-horizontal: 3.75rem
//typografy
$font-size-paragraph: 1.6rem
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem
