@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700,800&display=swap);
@-webkit-keyframes LefttoRightMain {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem);
  }
  50% {
    transform: translateX(3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes LefttoRightMain {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem);
  }
  50% {
    transform: translateX(3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-webkit-keyframes LefttoRightSecondary {
  0% {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  50% {
    transform: translateX(-1.25rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes LefttoRightSecondary {
  0% {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  50% {
    transform: translateX(-1.25rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-webkit-keyframes BottomBtn {
  0% {
    opacity: 0;
    transform: translateY(3.75rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes BottomBtn {
  0% {
    opacity: 0;
    transform: translateY(3.75rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 120%;
  }
}

main {
  flex: 1 1 auto;
}

body {
  margin: 0;
  height: 100%;
  background: #fff;
  padding: 3.125rem;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  background: #f7f7f7;
  position: relative;
  z-index: 0;
}

body {
  font-family: Roboto;
  font-weight: 300;
  color: #777;
  letter-spacing: 0.125rem;
}

.title-first {
  color: #fff;
}
.title-first__main {
  display: block;
  line-height: 3.75rem;
  letter-spacing: 0.6rem;
  font-weight: 800;
  font-size: calc(24px + 26 * ((100vw - 320px) / 1020));
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  -webkit-animation-name: LefttoRightMain;
          animation-name: LefttoRightMain;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: calc(12px + 28 * ((100vw - 320px) / 1020));
  line-height: 3rem;
  letter-spacing: 0.31rem;
  -webkit-animation-name: LefttoRightSecondary;
          animation-name: LefttoRightSecondary;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 4rem;
}

.title-secondary {
  text-align: center;
  font-size: calc(10px + 26 * ((100vw - 320px) / 1020));
  font-weight: 800;
  line-height: 2.7rem;
  letter-spacing: 0.6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-secondary_white {
  color: #fff;
}
.title-secondary:hover {
  transform: skewX(15deg) scale(1.1);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.title-third {
  font-weight: 700;
  letter-spacing: 0.125rem;
  font-size: calc(12px + 8 * ((100vw - 320px) / 1020));
  line-height: 2rem;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
  font-size: calc(10px + 6 * ((100vw - 320px) / 1020));
  letter-spacing: 0.125rem;
  line-height: 140%;
}

.margin-bottom-80px {
  margin-bottom: 5rem;
}

.margin-bottom-30px {
  margin-bottom: 1.875rem;
}

.margin-bottom-10px {
  margin-bottom: 0.62rem;
}

.margin-bottom-50px {
  margin-bottom: 3.125rem;
}

.text-align-center {
  text-align: center;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.9rem 2.5rem;
  border-radius: 3.125rem;
  color: #777;
  background: #fff;
  font-weight: 400;
  font-size: calc(8px + 12 * ((100vw - 320px) / 1020));
  letter-spacing: 0.31rem;
  display: inline-block;
  transition: all 0.5s;
  position: relative;
  border: none;
}
.btn:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.6) scaleY(1.7);
}
.btn:active {
  transform: translateY(-0.125rem);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 3.125rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s;
}
.btn_animated {
  -webkit-animation: BottomBtn 1s ease 0.6s;
          animation: BottomBtn 1s ease 0.6s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn_brown {
  font-family: Roboto;
}
.btn_brown, .btn_brown:link, .btn_brown:visited {
  background-color: #A14F03;
  color: #fff;
}
.btn_brown:hover {
  cursor: pointer;
}
.btn_brown::after {
  background: #A14F03;
}

.btn-text:link, .btn-text:visited {
  font-weight: 700;
  font-size: calc(10px + 6 * ((100vw - 320px) / 1020));
  line-height: 1.18rem;
  letter-spacing: 0.125rem;
  color: #BA8554;
  text-decoration: none;
  padding: 0.8rem;
  border-bottom: 1px #BA8554 solid;
  transition: all 0.5s;
  display: inline-block;
}
.btn-text:hover {
  background-color: #BA8554;
  color: #fff;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0rem);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 60%;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  position: absolute;
  z-index: 10;
  transition: all 0.3s;
  outline-offset: 0.8rem;
}
.composition__photo_n1 {
  top: 0;
  left: 1.5rem;
}
.composition__photo_n2 {
  top: 4.5rem;
  right: 0rem;
}
.composition__photo_n3 {
  top: 10rem;
  left: 3rem;
}
.composition__photo:hover {
  transform: scale(1.1);
  z-index: 20;
  outline: 1rem solid #BA8554;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.8);
}

.adventure-card {
  padding: 1.56rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.3rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.5s;
}
.adventure-card:hover {
  transform: translateY(-1rem) scale(1.07);
}
.adventure-card__icon {
  font-size: calc(45px + 15 * ((100vw - 320px) / 1020));
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.card-tour {
  height: 32.5rem;
  perspective: 120rem;
  -moz-perspective: 120rem;
  position: relative;
}
.card-tour__side {
  transition: all 0.7s ease-out;
  height: 33rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 0.3rem;
}
@media (max-width: 1240px) {
  .card-tour__side {
    height: 36rem;
  }
}
.card-tour__side_front {
  background: #fff;
}
.card-tour__side_back {
  transform: rotateY(180deg);
  background: linear-gradient(120deg, #BA8554 0.03%, #A14F03 99.94%);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
.card-tour__img {
  background-blend-mode: hard-light;
  height: 16rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.card-tour__img_1 {
  background: #BA8554 url(../img/tour-section/tour-1.png) center/cover no-repeat;
}
.card-tour__img_2 {
  background: #BA8554 url(../img/tour-section/tour-2.png) center/cover no-repeat;
}
.card-tour__img_3 {
  background: #BA8554 url(../img/tour-section/tour-3.png) center/cover no-repeat;
}
.card-tour__title {
  font-size: calc(18px + 10 * ((100vw - 320px) / 1020));
  letter-spacing: 0.18rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 12rem;
  right: 0rem;
}
.card-tour__span {
  background: linear-gradient(90deg, #BA8554, #A14F03);
  padding: 0.2rem 0.6rem 0.1rem 0.6rem;
  color: #fff;
}
.card-tour__span_1 {
  position: absolute;
  top: -1.1rem;
  right: 0rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 2rem;
  right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0.3rem;
}
.card-tour__descr ul {
  list-style: none;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
.card-tour__descr ul li {
  color: #777;
  font-size: calc(16px + 0 * ((100vw - 320px) / 1020));
  letter-spacing: 0.1rem;
  font-weight: 400;
  border-bottom: 1px solid;
  display: inline-block;
}
.card-tour__descr ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.card-tour__backSide-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-tour__text {
  margin-bottom: 5rem;
  color: #fff;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
}
.card-tour__text_1 {
  font-size: calc(16px + 0 * ((100vw - 320px) / 1020));
  font-weight: 300;
}
.card-tour__text_2 {
  font-size: calc(40px + 20 * ((100vw - 320px) / 1020));
  font-weight: 500;
}

.feedback-card {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 2rem;
  transform: skewX(330deg);
}
.feedback-card > * {
  transform: skewX(-330deg);
}
.feedback-card__img {
  width: 10rem;
  height: 10rem;
  float: left;
  border-radius: 100rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 2.5rem;
  overflow: hidden;
  position: relative;
}
.feedback-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}
.feedback-card__name {
  text-align: center;
  color: #fff;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1020));
  font-weight: 400;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: all 0.5s;
}
.feedback-card:hover .feedback-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedback-card:hover img {
  transform: scale(1);
  filter: blur(0.2rem) brightness(75%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7), rgba(0, 0, 0, 0.7));
}

.book {
  min-height: 35rem;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(250, 250, 250, 0.9) 57%, rgba(186, 133, 84, 0.5) 57%, rgba(161, 79, 3, 0.5) 100%), url(../img/last-section.png) center/cover no-repeat;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  overflow: hidden;
}

.form {
  width: 60%;
  padding-top: 3.2rem;
  padding-left: 3.2rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group:nth-child(4) {
  margin-bottom: 3rem;
}
.form__group:last-child {
  padding-left: 3.3rem;
}
@media (max-width: 1240px) {
  .form__group:not(:last-child) {
    margin-bottom: 0rem;
  }
  .form__group:nth-child(4) {
    margin-bottom: 0rem;
  }
}
.form__input {
  font-weight: 400;
  font-size: calc(10px + 6 * ((100vw - 320px) / 1020));
  letter-spacing: 0.125rem;
  color: #000;
  background: #fff;
  padding: 1rem 0rem 1rem 1rem;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0.3rem;
  width: 55%;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #66D763;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #D76363;
}
.form__lable {
  font-weight: 400;
  font-size: calc(10px + 6 * ((100vw - 320px) / 1020));
  letter-spacing: 0.125rem;
  display: block;
  margin-top: 0.8rem;
  margin-left: 1rem;
  transition: 0.5s all;
}
.form__input:-moz-placeholder-shown + .form__lable {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}
.form__input:-ms-input-placeholder + .form__lable {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}
.form__input:placeholder-shown + .form__lable {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}
.form__input-radio {
  display: none;
}
.form__group-radio {
  display: inline-block;
}
.form__group-radio:not(:last-child) {
  margin-right: 1.25rem;
}
@media (max-width: 1240px) {
  .form__group-radio {
    display: block;
    margin-bottom: 1.25rem;
  }
}
.form__lable-radio {
  font-size: calc(10px + 6 * ((100vw - 320px) / 1020));
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
}
.form__button-radio {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0.4rem solid #A14F03;
  display: block;
  position: absolute;
  left: 0rem;
  top: -0.33rem;
}
@media (max-width: 1240px) {
  .form__button-radio {
    top: 0;
  }
}
.form__button-radio::after {
  content: "";
  display: block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: #BA8554;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s all;
}
.form__input-radio:checked ~ .form__lable-radio .form__button-radio::after {
  opacity: 1;
}

.footer {
  text-align: center;
}
.footer__logo {
  min-height: 9.3rem;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
  transition: all 0.5s;
}
.footer__item:not(:last-child) {
  margin-right: 3rem;
}
.footer__item a {
  text-decoration: none;
  color: #fff;
  font-size: calc(10px + 6 * ((100vw - 320px) / 1020));
  letter-spacing: 0.25rem;
  font-weight: 300;
}
.footer__item:hover {
  transform: translateY(-0.5rem);
  transition: all 0.5s;
}
.footer__item:hover a {
  color: #BA8554;
}

.header {
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/balloon-first-section.png) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  position: relative;
}
.header__logo {
  position: absolute;
  height: 4.375rem;
  width: 3.5rem;
  left: 3.125rem;
  top: 3.125rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.row {
  max-width: 71.25rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 5rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1240px) {
  .row {
    max-width: 90%;
  }
}

.col-1-of-2 {
  width: calc((100% - 3.75rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 3.75rem) / 3);
}
.col-2-of-3 {
  width: calc(2 * (100% - 2 * 3.75rem) / 3);
}
@media (max-width: 1240px) {
  .col-2-of-3 {
    width: calc(2 * (100% - 2 * 1.5rem) / 3);
  }
}

.col-1-of-4 {
  width: calc((100% - 3 * 3.75rem) / 4);
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 3.75rem) / 4) + 3.75rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 3.75rem) / 4) + 2 * 3.75rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 3.75rem;
}

.navigation__toggle {
  display: none;
}
.navigation__button {
  background: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 35;
  text-align: center;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.navigation__background {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  right: 6rem;
  top: 6rem;
  z-index: 30;
  transition: all 0.7s;
}
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 31;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.navigation__item {
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 2.75rem;
}
.navigation__link:link, .navigation__link:visited {
  line-height: 3rem;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1020));
  letter-spacing: 0.3rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 10%, transparent 50%, #fff 50%);
  background-size: 220%;
  padding: 1rem 1rem;
  transition: 0.5s all;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  color: #A14F03;
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(60);
}
.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__icon {
  position: relative;
  margin-top: 2.37rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 1.8rem;
  height: 0.125rem;
  background: #000;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.5rem;
}
.navigation__icon::after {
  top: 0.5rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -0.625rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 0.625rem;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.section-about {
  padding-top: 5rem;
  margin-bottom: 8rem;
}
@media (max-width: 1240px) {
  .section-about {
    margin-bottom: 7rem;
  }
}

.section-adventure {
  padding: 13.125rem 0rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/balloon-third-section.png) center/cover no-repeat;
  transform: skewY(6deg);
}
.section-adventure > * {
  transform: skewY(-6deg);
}

.section-tour {
  padding-top: 10rem;
}

.section-feedback {
  padding: 3rem 0;
  position: relative;
}

.section-book {
  padding: 6.25rem;
  background: linear-gradient(90deg, #BA8554, #A14F03);
}

.section-footer {
  padding-top: 5rem;
  background-color: #333333;
}/*# sourceMappingURL=style.css.map */